
<div class="bg-white col-8 rounded-3 shadow-sm" style="min-height: 60vh; margin-left: 50px;">

  <div class="m-3">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="m-2 text-secondary"><strong>ACTIVITY</strong></h5>
      <h5 class="m-2 text-secondary"><%= Date.today %></h5>
    </div>
  </div>

  <hr>

  <div class="my-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Pending</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Confirmed</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">



      <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <%# PENDING %>

        <%# REFUGEE %>
        <% if current_user.refugee %>
          <% current_user.bookings.where(status: false).each do |b| %>

          <div class="m-3 p-3 bg-light shadow-1 rounded-5">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="m-2"><%= b.lesson.title %></h4>
              <h4 class="m-0"><span class="badge alert-success"><%= b.lesson.available_places  %> places available</span></h4>
            </div>
            <% current_user.bookings.where(status: false).each do |c|%>

              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small m-2" %>
                  <p class="m-0"> <strong class= "m-0"><%= c.user.first_name %></strong></p class="m-0">
                </div>
                <strong><p class="text-secondary my-2 text-center">Confirmed ✓</p></strong>
              </div>

            <% end %>
          </div>


        <% end %>

        <%# COACH %>
        <% else %>
          <% current_user.lessons.each do |l| %>
            <% if l.questions[2] %>
              <div class="m-3 p-3 bg-light shadow-1 rounded-5">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="m-2"><%= l.title %></h4>
                  <h4 class="m-0"><span class="badge alert-success"><%= l.available_places %> places available</span></h4>
                </div>
                <% if l.bookings.where(status: false).count != 0 %>
                  <p><strong><%= l.questions[2].content %></strong></p>
                <% else %>
                  <p class="text-secondary m-2"><strong>Nothing to show.</strong></p>
                <% end %>

                <% l.bookings.where(status: false).each do |b|%>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small m-2" %>
                      <p class="m-0"> <strong class= "m-0"><%= b.user.first_name %></strong> answers:</p class="m-0">
                    </div>
                    <%= link_to "Accept", accept_booking_path(b), method: :patch, class: "btn btn-sm btn-primary" %>
                  </div>

                  <% b.user.answers.each do |a| %>
                    <div>
                      <%#= a.question.content %>
                      <p>"<%= a.content %>"</p>
                    </div>
                  <% end %>
                <% end %>

              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <%# CONFIRMED %>

        <%# REFUGEE %>
        <% if current_user.refugee %>
        <% current_user.bookings.each do |b| %>
          <div class="m-3 p-3 bg-light shadow-1 rounded-5">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="m-2"><%= b.lesson.title %></h4>
              <h4 class="m-0"><span class="badge alert-success"><%= b.lesson.available_places  %> places available</span></h4>
            </div>

              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small m-2" %>
                  <p class="m-0"> <strong class= "m-0"><%= current_user.first_name %></strong></p class="m-0">
                </div>
                <strong><p class="text-secondary my-2 text-center">Confirmed ✓</p></strong>
              </div>


          </div>
        <% end %>

        <%# COACH %>
        <% else %>
          <% current_user.lessons.each do |l| %>
            <% if l.questions[2] %>
              <div class="m-3 p-3 bg-light shadow-1 rounded-5">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="m-2"><%= l.title %></h4>
                  <h4 class="m-0"><span class="badge alert-success"><%= l.available_places %> places available</span></h4>
                </div>
                <% l.bookings.where(status: true).each do |b|%>

                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-small m-2" %>
                      <p class="m-0"> <strong class= "m-0"><%= b.user.first_name %></strong></p class="m-0">
                    </div>
                    <strong><p class="text-secondary my-2 text-center">Confirmed ✓</p></strong>
                  </div>

                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
