<div class="bg-white p-4 w-25 mr=0 rounded-3 shadow-lg sticky-lg-top w-100" data-answers-target="requestbox">

  <h3 class="mb-3">Book this course</h3>

  <div class="mb-3">
    <p class="text-secondary mb-1"><small>OFFERED BY</small></p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="m-0">
        <div class="d-flex align-items-center">
        <h5 class="mb-1 mr-1 fw-bold"><%= @lesson.user.first_name %> <%= @lesson.user.last_name %></h5>

        <div class="rating m-1" style="width: 20%">
          <% if @lesson.reviews.count.positive? %>
          <% all_ratings = @lesson.reviews.pluck(:rating) %>
          <% average = all_ratings.inject{ |sum, el| sum + el }.to_f / all_ratings.size %>
          <%= (average * 2.0).round / 2.0 %> <i class="fas fa-star text-warning"></i>
          <% end %>
        </div>
        </div>

        <p class="m-0"><%= @lesson.user.description %></p>

      </div>
      <div class="m-2"><%= image_tag "https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", class: "avatar-medium", style: "object-fit: cover" %></div>
    </div>

  </div>

  <hr>

  <div class="mb-3">
    <p class="text-secondary m-0"><small>DATES</small></p>
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="my-1"><%= @lesson.start_date.strftime("%a %d %b") %></h5>
      <h5 class="my-1">-</h5>
      <h5 class="my-1"><%= @lesson.end_date.strftime("%a %d %b") %></h5>
    </div>
  </div>
  <% if !Answer.find_by(user_id: current_user.id, question_id: @lesson.questions[0].id) %>
    <%= link_to "Request", "#", class: "btn btn-lg btn-primary w-100 mt-2", data: {action: "click->answers#request"} %>
  <% else %>
    <strong><p class="text-success my-2 text-center">Answer sent ✓</p></strong>
  <% end %>
</div>
